{% extends "layout.njk" %}

{% block head %}
    <title>About - Antonio</title>
{% endblock head %}


{% block content %}

<div id="sobre">
<img src="https://cdn-images-1.medium.com/max/1200/1*TkXVfLTwsHdwpUEjGzdi9w.jpeg" alt="Rocketseat">
<h1>Rocketseat</h1>
<p>Nossa missão é capacitar pessoas que buscam se profissionalizar na programação independente do seu momento ou nível de conhecimento.</p>
<h2>Tecnologias</h2>
<ul id="tecnologias">
<li>
    C#
</li>
<li>
    HTML
</li>
<li>
    CSS
</li>
<li>
    Python
</li>
<li>
    PHP
</li>
</ul>
</div>

{% endblock content %}